@use '@angular/material' as mat;
//@import './dark-palette.scss';

@include mat.core();


// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$grey-palette,700, 400, 900),
   accent: mat.define-palette(mat.$blue-grey-palette, 800, 700, 900),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(
  
  ),
  density: 0
));

// .mat-toolbar,
// .mat-toolbar-row,
// .mat-toolbar-row a {
//   color: white; // Set the desired font color here
// }

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$pink-palette),
 ),
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.all-component-themes($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 @include mat.core-color($light-theme);
 @include mat.button-color($light-theme);
 @include mat.all-component-themes($light-theme);
}

body {
  margin: 0;
  padding: 0;
}