<div class="content-container">
<ics-overlay *ngIf="isWaiting"></ics-overlay>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
<div class="input-url">
<mat-form-field class="example-form-field">
    <mat-label>Paste an URL of the image here</mat-label>
      <input name="url" type="text" matInput [(ngModel)]="imageUrl" 
      required #urlField="ngModel"
      (blur)="onBlur(urlField)">
    <mat-error *ngIf="imageUrl">Invalid URL format</mat-error>
    <button *ngIf="imageUrl" matSuffix mat-icon-button aria-label="Clear" (click)="imageUrl=''">
      <mat-icon>close</mat-icon>
    </button>    
</mat-form-field>
<div [hidden]="!postError"
class="alert alert-danger">
{{postErrorMessage}}
</div>

<button mat-raised-button color="primary" [disabled]="!form.valid" >Analyze</button>

</div>
</form>

</div>

<!-- {{imageUrl | json}}
{{originalImageUrl | json}} 
pattern="^(https?://)?([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,6}(/[a-zA-Z0-9-]*)*(\?[a-zA-Z0-9-]+=[a-zA-Z0-9-]*)?$"
-->