.container {
  min-height: fit-content;
  // border: solid;
  // border-color: blue;
  padding: 0% 5% 0% 5%;
}

.input-search {
  display: grid;
  flex-direction: column;
  place-items: center;
  // border: solid;
  // border-color: red;
  margin: 5%;
}

.example-form-field {
  width: 40vw;
  text-align: left;
  // border: solid;
  // border-color: green; 
}

.gallery-container {
  order: solid;
  // border-color: azure;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* Adjust the column width as needed */
  grid-auto-rows: 200px;
  /* Adjust the row height as needed */
  gap: 1%;
  /* Adjust the gap as needed */
  align-content: start;
  /* Align the content to the top of the container */
}

.empty-handle-card {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-label {
    margin: 10px;
    font-size: 20px;
  }
}

.gallery-image {
  height: auto;
  /* Maintain aspect ratio */
  width: 100%;
  margin-bottom: 0 auto;
  display: flex;
  // border: solid;
  // border-color: blue;

  img {
    width: 90%;
    object-fit: contain;
    border-radius: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .75);
    margin-bottom: 5%;
  }

  img:hover {
    cursor: pointer;
  }
}