<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/ics</property>
        <property name="connection.username">tba_petya</property>
        <property name="connection.password">vmware123!!</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- Set to create for first time use, or update for production -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
