.spacer {
    flex: 1 1 auto;
  }

  .spacer-right {
    margin-right: 40px; 
  }
   
  .header-right {
    overflow: hidden;
    padding: 20px 10px;
    float: right;
    display: flex;
    align-items: center;
  }

  .mat-toolbar-row a{
    text-decoration: none; 
  }
