<mat-toolbar color="primary">
    <mat-toolbar-row>
        <a color="accent" routerLink="/image-classification">Tag your image</a>
        <span class="spacer"></span>
        <div class="header-right">
            <a routerLink="/image-classification">Analyze</a>
            <span class="spacer-right"></span>
            <a routerLink="/gallery">Gallery</a>
            <span class="spacer-right"></span>
            <a href="#light_mode??">Light mode</a>
          </div>
    </mat-toolbar-row>
  </mat-toolbar>
  