.spacer {
    flex: 1 1 auto;
  }

  .header-right {
    overflow: hidden;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    gap:30px;
  }

  .mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  }

  .mat-toolbar-row a{
    text-decoration: none; 
  }
